body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.chakra-alert[data-status="success"] {
  background: #2FCF5F;
  border-radius:15px;
  text-align: center;
}

.chakra-alert[data-status="error"] {
  background: #EE2032;
  border-radius:15px;
  text-align: center;
}
